.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 40px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px;
    margin-top: 80px;
}

.summary-container {
    padding: 20px;
    background-color: rgba(255, 153, 0, 0.3);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: 0px;
    width: 233px;
}

.order-summary {
    width: 220px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
