.single-product {
    border: 1px solid gainsboro;
    width: 300px;
    height: 510px;
    border-radius: 8px;
}
.single-product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product-info {
    padding: 10px;
}
.product-info h3 {
    margin-bottom: 0px;
}
.product-info h2 {
    margin-top: 0px;
}
.product-info p {
    line-height: 10px;
}
